PROJECT_NAME="AskDocs"
MONGODB_URL=""
DATABASE_NAME="db-name"
BACKEND_CORS_ORIGINS=[""]
API_V1_STR=/api/v1
GOOGLE_CLIENT_ID=""
JWT_SECRET=""
UPLOAD_DIR="uploads"
NOMIC_API_KEY=""
NOMIC_EMBEDDING_MODEL=""
PINECONE_INDEX_NAME=""
PINECONE_API_KEY=""