PROJECT_NAME="AskDocs"
MONGODB_URL=""
DATABASE_NAME=""
BACKEND_CORS_ORIGINS=[""]
API_V1_STR=/api/v1
GOOGLE_CLIENT_ID=""
JWT_SECRET=""
UPLOAD_DIR=""
NOMIC_API_KEY=""
EMBEDDING_MODEL=""
PINECONE_INDEX_NAME=""
PINECONE_API_KEY=""
GROQ_API_KEY=""
GROQ_CHAT_MODEL=""
GROQ_TEMPERATURE=""
GOOGLE_API_KEY=""