fastapi
uvicorn[standard]
pydantic-settings
python-dotenv
motor
google-auth
google-auth-oauthlib
python-jose[cryptography]
passlib[bcrypt]
langchain
langchain-groq
langchain-community
langchain-pinecone
pinecone-client
langchain-nomic
langgraph
langchain-google-genai